
body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

.content {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#story-page {
  width: 100%;
  max-width: 100%;
}

#story-page .content {
  background-color: transparent;
}

section {
  display: block;
  background-color: white;
  padding: 10px 10%;
}
section  h1 {
  font-size: 32px;
  border-bottom: 1px solid #ddd;
}

.fullscreen-img {
  position: fixed;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(composite.jpg);
}

.fullscreen-img:after {
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.4;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: '';
}


.nav-holder {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 20;
}

header {
  position: relative;
  width: 100%;
}
header .slogan-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.opener {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


ul.nav {
  width: 100%;
  height: 60px;
  padding-left: 0px;
  background-color: rgba(0,0,0,0.4);
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
ul.nav li {
  display: inline-block;
  padding-top: 19px;
  padding-right: 40px;
}
ul.nav li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
ul.nav li a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}


/*Phone styling*/
@media only screen and (max-width: 480px) {
  .nav-holder {
    height: 100px;
  }
  ul.nav {
    height: 110px;
  }
  ul.nav li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-top: 10px;
  }
  .opener {
    font-size: 18px;
    text-align: left;
  }
}